/* min-width 1280px +, in sus  */
@media (min-width: 1900) {
    .form-container {
        width: 60%;
    }
}

@media (min-width: 1280px) {
    body {
        font-size: 20px;
    }
}

@media (max-width: 790px) {
  .main-content {
    padding: 40px 0;
  }  

  .values-section {
    padding: 0 80px;
  }

  .containers {
    grid-template-columns: 1fr 1fr;
   }

   .box-container {
    max-width: 600px;
   }

   .card-item h5 {
    font-size: 20px;
   }

   .card-item p {
    font-size: 16px;
   }

    .menu-toggle {
        width: 40px;
        height: 40px;
        background: url(https://i.postimg.cc/qq7WKZ1m/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menu-toggle.active {
        width: 40px;
        height: 40px;
        background: url(https://i.postimg.cc/yNcK65Gc/close.png);
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .main-nav .center {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-nav .nav-links {
        display: none;
    }

    .main-nav .nav-links.active {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        left: 0;
        top: 90px;
        position: fixed;
        background: white;
        width: 100%;
        height: calc(100% - 90px);
    }

    .main-nav .nav-links.active .main-nav-link {
        color: black;
    }
}

@media (max-width: 480px) {
    .box-container {
        padding: 12px;
    }

    .containers {
    grid-template-columns: 1fr;
   }

    .main-nav {
        padding: 0;
        margin: 0;
    }

    .cta-buttons {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .values-text {
        margin: 20px auto;
    }
}