:root {
  --primary-color: #FFA62B;
  --dark-barckground-color: #252B42;
  --light-text-color: #FFFFFF;
}

body {
  background-color: var(--dark-barckground-color);
}

.main-header {
  /* Centreaza elementele la mijlloc pe verticala si orizontala */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: auto;
  margin: 0 auto;
  max-width: 1000px;
}

.containers {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: repeat(2, 200px);
  gap: 32px;
}

/* min-width 1024+ */
@media (min-width: 1024px) {
  .containers {
    gap: 80px;
  }
}

/* marimea este de 368px sau mai putin */
/* max-width: 0 - 368px */
@media (max-width: 368px) {
  .containers {
    grid-template-columns: 320px;
    grid-template-rows: repeat(6, 200px);
  }
}

.values-section {
  margin: 100px 0;
  display: grid;
  justify-content: center;
  align-content: end;
}

.values-section h2,
.values-section p {
  text-align: center;
  color: var(--light-text-color);
}

.values-section h2 {
  font-size: 40px;
}

.values-text {
  max-width: 472px;
  margin: 45px auto;
}

.main-content {
    color: var(--light-text-color);
    padding: 40px 140px;
    gap: 40px;
    max-width: 572px;
    margin: 0 auto;
}

.main-content .heading-primary {
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
}

.main-content h4 {
  margin: 40px 0;
  text-align: center;
}


.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.cta-buttons button {
  width: 185px;
  height: 48px;
  border-radius: 36px;
  color: #fff;
}

.cta-buttons button:first-child {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.cta-buttons button:last-child {
  background: transparent;
  border: 1px solid #FFFFFF;
}

/* .animated-box {
  animation-name: animate1;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  width: 320px;
  height: 100px;
}  */
/* 
@keyframes animate1 {
  0% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: white;
  }
} */


/* .cta-buttons .animated-button { */
  /* transition-property: background;
  transition-duration: 2s;
  transition-timing-function: ease-in-out; */
  /* transition: all 2s ease-in-out; */

  /* transform: scale(1.5); */
/* } */
/* 
.cta-buttons .animated-button:hover {
  transform: rotate(180deg);
} */

.value-container {
  background-color: greenyellow;
  color: black;
}

.form-section {
  margin: 0 auto;
  max-width: 1000px;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(2, 286px);
  grid-template-rows: repeat(4, 50px);
  gap: 20px;
}

.form-container * {
  background-color: white;
  border-radius: 4px;
}

.form-container input:last-child {
  /* row-start / column-start / row-end / column-end */
    grid-area: 3 / 1 / 5 / 3;
}